# The Problem Draft:
We are trying to find the two numbers in this list that add up to 2020 and find their product. The first part of this problem is the two sum problem, which we can solve with brute force or a simple hashtable.

In [54]:
text = open('input.txt', 'r')

In [55]:
read = text.read()

In [56]:
numbers = read.split('\n')
numbers.remove('')

In [57]:
numbers = list(map(int, numbers))

In [58]:
# Making hashtable which average O(1) look up (ty python)
lookup = {}
# We want 2020
n = 2020

In [59]:
for i, x in enumerate(numbers):
    temp = n - x
    if temp not in lookup:
        lookup[x] = i
    else:
        print(x*temp)

605364

In [60]:
32 in lookup

False

# Improvements and final version
I realized that I was using a dictionary that was kindof pointless. Sets also have the O(1) look up time and none of the extra stuff we don't need for this problem

In [61]:
def problem1(n = 2020, address='input.txt'):
    '''
    Solves problem 1 from advent of code, is effectively two sum problem 
    
    Improvements: Set instead of dict, and i used split lines instead of split('/n')
    '''
    # Reading everything in
    text = open('input.txt', 'r').read()
    numbers = text.splitlines()
    numbers = list(map(int, numbers))
    
    # 2sum with set
    lookup = set()
    for index, num in enumerate(numbers):
        if n-num not in lookup:
            lookup.add(num)
        else:
            return num * (n-num)

In [62]:
problem1()

605364

In [81]:
def problem2(n = 2020, address='input.txt'):
    '''
    Solves problem 1 from advent of code, is effectively two sum problem 
    
    Improvements: Set instead of dict, and i used split lines instead of split('/n')
    '''
    # Reading everything in
    text = open('input.txt', 'r').read()
    numbers = text.splitlines()
    numbers = list(map(int, numbers))
    
    # basically 3sum?
    # nlogn
    numbers.sort()
    tot = 0
    for i in range(len(numbers)-2):
        j, k = i+1, len(numbers) - 1
        while j < k:
            tot = numbers[i] + numbers[j] + numbers[k]
            if tot == n:
                print(numbers[i],numbers[j],numbers[k])
                return numbers[i]*numbers[j]*numbers[k]
            if tot < n:
                j += 1
            elif tot > n:
                k -= 1
    return "fucked up"

In [82]:
problem2()

166 634 1220

128397680

In [84]:
numbers.sort()

In [85]:
numbers

[42,
 107,
 144,
 166,
 366,
 463,
 508,
 634,
 675,
 841,
 1220,
 1309,
 1380,
 1387,
 1397,
 1425,
 1427,
 1429,
 1456,
 1467,
 1484,
 1490,
 1503,
 1504,
 1506,
 1518,
 1520,
 1522,
 1532,
 1535,
 1537,
 1548,
 1558,
 1559,
 1568,
 1571,
 1577,
 1579,
 1580,
 1582,
 1592,
 1593,
 1600,
 1606,
 1616,
 1627,
 1654,
 1660,
 1665,
 1681,
 1684,
 1687,
 1718,
 1726,
 1735,
 1762,
 1779,
 1783,
 1789,
 1792,
 1803,
 1826,
 1827,
 1832,
 1836,
 1837,
 1839,
 1840,
 1842,
 1847,
 1848,
 1853,
 1857,
 1861,
 1867,
 1868,
 1869,
 1870,
 1872,
 1873,
 1874,
 1875,
 1877,
 1878,
 1879,
 1881,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 1903,
 1905,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1912,
 1914,
 1915,
 1918,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1931,
 1932,
 1933,
 1934,
 1937,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010]